@media screen and (min-width: 320px) {
  .pictureCard {
    padding: 1rem;
    margin: 0 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .pictureCard:nth-child(odd) {
    background-color: #194569;
    color: white;
  }

  .pictureCard:nth-child(even) {
    background-color: #5f84a2;
    color: white;
  }

  .title {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
  }

  .image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border: 1px black solid;
  }

  .detailBtn {
    background: transparent;
    width: fit-content;
    padding: 0.5rem 1rem;
    color: white;
    border: 1px solid white;
    margin: 0.5rem 0;
  }

  .detailBtn:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  .detailBtn:active {
    transform: translateY(1px);
  }
}

@media screen and (min-width: 768px) {
  .picturesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pictureCard {
    width: 31%;
    margin: 0.5rem;
    box-shadow: 8px 4px 16px rgba(0, 0, 0, 0.4);
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .pictureCard {
    width: 20%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1600px) {
  .pictureCard {
    width: 18%;
  }
}
