@media screen and (min-width: 320px) {

}

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1280px) {
  .filmsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .filmCard {
    padding: 1rem;
    margin: 1rem;
    width: 20%;
    border: 1px solid brown;
    background-color: aqua;
  }
  
  .title {
    margin-bottom: 0.25rem;
  }
  
  .titleOriginal{
    margin-bottom: 1rem;
    font-style: italic;
  }

  .detailsPart{
    display: flex;
    gap: 1rem;
  }

  .detailsText {
    display: flex;
    flex-direction: column;
  }
  
  .image{
    max-height: 10rem;
    border: 1px black solid;
  }
  
  .director,
  .date {
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }

  .detailBtn {
    background: transparent;
    width: fit-content;
    padding: 0.5rem 1rem;
    align-self: flex-end;
  }

  .detailBtn:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  .detailBtn:active {
    transform: translateY(1px);
  }
}

@media screen and (min-width: 1600px) {
  .filmCard {
    width: 18%;
  }
}