@media screen and (min-width: 320px) {
  .navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #b7d0e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .title {
    display: none;
  }

  .logo {
    max-height: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .navContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
  }

  .logoHolder {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .title {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
  }
}
